// Fonts
@font-face {
    font-family: 'Trebuchet MS Bold';
    src: url('/fonts/TrebuchetMS-Bold.eot');
    src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
        url('/fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TrebuchetMS-Bold.woff') format('woff'),
        url('/fonts/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('/fonts/TrebuchetMS.eot');
    src: local('Trebuchet MS'), local('TrebuchetMS'),
        url('/fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TrebuchetMS.woff') format('woff'),
        url('/fonts/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Thin'), local('Exo2-Thin'), url('/fonts/exo2thin.woff2') format('woff2'), url('/fonts/exo2thin.woff') format('woff'), url('/fonts/exo2thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
