$white:     #fafafa;
$black:     #000;
$gray:      #b3b3b3;
$grayText:  #666;
$blue:      #1698D9;
$blueHover: #2ea8e6;
$red:       #d91667;
$redHover:  #e62e7a;

$blockFontSize: 48px;

$trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$trebuchetBold: 'Trebuchet MS Bold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$exo: 'Exo 2', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$tabletW: 1023px;
$mobileW: 767px;